<header class='form-header'>
    <h1>Overview</h1>
    <h2>Survey</h2>
</header>

<form class="overview">
    <ol class="overview__pages-list">
        {{#each user.forms}}
        <li class="overview__page">
            <h3 class="overview__page__title">{{this.pathName}}</h3>
            <ul class="overview__page__answers-list">
                {{#each this.formData}}
                    <li class="overview__page__answers">
                        <span class="overview__page__question">{{@key}}</span>
                        {{#if this}}
                            <em class="overview__page__answer">{{this}}</em>
                            {{else}}
                            <em class="overview__page__answer -empty">Not answered</em>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ol>

    <div class='base-form__submit'>
        <a class="btn -secondary" href="/survey/2/{{user.pin}}">Previous</a>
        <input class="btn -primary" type="submit" value="Send">
    </div>
</form>